<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<li class="nav-item">-->
<!--          <a class="nav-link" href="{% url 'movie:add' %}">ADD MOVIE</a>-->
<!--        </li>-->
<form class="d-flex" method="POST" action="{% url 'movie:add' %}">
        {% csrf_token %}
        <input class="form-control me-2" type="add movie" name="q" placeholder="add movie" aria-label="add movie">
        <button class="btn btn-outline-danger" type="submit">ADD MOVIE</button>
      </form>
</body>
</html>