body
{
background-color:#03a5fc;
 }
h2
{
color:purple;
}
h1
{
border:1px solid black;
}
input
{
border:2px solid rgb(183,28,28);
}
div
p
{
background-color:#f7fa52;
}
#textblock{
border:5px solid gray;
width:800px;
height:400px;
}
a{
color:red;
}
#itemone{
text-decoration:overline;
color:purple;}
.exit{
background-color:blue;
border:4px dashed yellow;
}
a:active
{
color:green;
}